/* 1. Для всього документу встановіть наступний шрифт: назва serif, розмір 14px, міжрядковий інтервал 1.25, колір #777  */
body {
    font-family: "PT Sans Narrow", serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
  }
  
  /* 2. Для всіх вкладених списків встановіть курсивний жирний шрифт */
  ul ul {
    font-weight: bold;
  }
  
  /* 3. встановіть на всі заголовки шрифт 'Cormorant Infant' (serif - у якості "підстраховки"), міжлітерний інтервал 0.5px і колір текста чорний а також встановіть такий режим написання щоб кожне слово починалось з заглавної букви */
  h1,
  h2 {
    font-family: "Cormorant Infant", serif;
    letter-spacing: 0.5px;
    color: black;
    text-transform: capitalize;
  }
  
  /* 4. Після застосування зовнішнього шрифту стало зрозуміло що він досить малий - збільшість заголовки першого рівня до 32px */
  h1 {
    font-size: 32px;
  }
  
  /* 5. Заголовки другого рівня зробіть 26px */
  h2 {
    font-size: 26px;
  }
  
  /* 6. Для другого абзацу за класом встановіть подвійний міжрядковий інтервал. */
  .double-line {
    line-height: 2;
  }
  
  /* 7. Додайте клас mail-box до div що навколо пошти і задайте наступні йому властивості:
  - ширину 150px
  - задній фон кольору #E3FFF6
  - рамку товщиною 5 пікселів і кольору #C2E4C2
  - внутрішні відступи: горизонтальні 20px, вертикальні 5px
  - відразу перейдіть до п.8
  */
  .mail-box {
    width: 150px;
    background-color: #e3fff6; /* Light green background */
    border: 5px solid #c2e4c2; /* Green border */
    padding: 5px 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Allow email to break */
    display: block; /* Start email on new line */
  }
  
  /* 11. Усі абзаци вирівняте по ширині (з обох боків) */
  p {
    text-align: justify;
  }
  
  /* 12. Списку наших переваг .our-adv встановіть наступні стилі:
  - задайте фоном зображення файл 'http://picsum.photos/id/357/700/400?blur=5'
  - встановіть верхній внутрішній відступ у 30 пікселів, нижній - 60.
  - колір тексту задайте білий
  - шрифт 16 пікселів */
  .our-adv {
    background-image: url("http://picsum.photos/id/357/700/400?blur=5");
    background-size: cover; /* Ensure the background image covers the area */
    background-position: center; /* Center the image */
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
  }
  
  /* 14. Задайте усім заголовкам другого рівня верхній зовнішній відступ у 60 пікселів, нижній - у 0 пікселів */
  h2 {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  
  /* Додаткове завдання */
  .ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
  }
  